app/code/local/Mikewhitby/Configapi/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:element name="configReadRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="configReadResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="configSetRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="configSetResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="configDeleteRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="configDeleteResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="configReadRequest">
        <wsdl:part name="parameters" element="typens:configReadRequestParam" />
    </wsdl:message>
    <wsdl:message name="configReadResponse">
        <wsdl:part name="parameters" element="typens:configReadResponseParam" />
    </wsdl:message>
    <wsdl:message name="configSetRequest">
        <wsdl:part name="parameters" element="typens:configSetRequestParam" />
    </wsdl:message>
    <wsdl:message name="configSetResponse">
        <wsdl:part name="parameters" element="typens:configSetResponseParam" />
    </wsdl:message>
    <wsdl:message name="configDeleteRequest">
        <wsdl:part name="parameters" element="typens:configDeleteRequestParam" />
    </wsdl:message>
    <wsdl:message name="configDeleteResponse">
        <wsdl:part name="parameters" element="typens:configDeleteResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="configRead">
            <documentation>Read a configuration value</documentation>
            <wsdl:input message="typens:configReadRequest" />
            <wsdl:output message="typens:configReadResponse" />
        </wsdl:operation>
        <wsdl:operation name="configSet">
            <documentation>Set a configuration value</documentation>
            <wsdl:input message="typens:configSetRequest" />
            <wsdl:output message="typens:configSetResponse" />
        </wsdl:operation>
        <wsdl:operation name="configDelete">
            <documentation>Delete a configuration value</documentation>
            <wsdl:input message="typens:configDeleteRequest" />
            <wsdl:output message="typens:configDeleteResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="configRead">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configSet">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configDelete">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
